<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SAD.Database.DAO4MyBatis">
    <cache eviction="LRU"
           type="org.apache.ibatis.cache.impl.PerpetualCache"
           flushInterval="86400000"
           size="1048576"
           readOnly="true"/>
    <select id="selectMessage" resultType="java.util.HashMap" >
        select * from `message` where `message`.`receiverId`=#{receiverid}
    </select>
    <insert id="insertMessage">
        insert into `message`(`senderId`,`receiverId`,`content`,`sendTime`) values(#{fromuserid},#{touserid},#{content},#{time})
    </insert>
    <select id="selectFollowedUser" resultType="java.util.HashMap">
        select `follow`.`followedId` from `follow` where `follow`.`userid`=#{userid}
    </select>
    <select id="ifFollow" resultType="boolean">
        select exists (select * from `follow` where `follow`.`userid`=#{userid} and `follow`.`followedId`=#{followid})
    </select>
    <insert id="makeFollow">
        insert into `follow`(`userid`,`followedId`) values(#{userid},#{followid})
    </insert>
    <delete id="unmakeFollow">
        delete from `follow` where userid=#{userid} and followedId=#{followid}
    </delete>
    <select id="ifUserExistID" resultType="boolean">
        select exists(select * from `user` where `user`.`id`=#{userid})
    </select>
    <select id="ifUserExistName" resultType="boolean">
        select exists(select * from `user` where `user`.`name`=#{username})
    </select>
    <select id="ifExpertExist" resultType="boolean">
        select exists(select * from `expert` where `expert`.`userId`=#{expertid})
    </select>
    <select id="ifAdminExist" resultType="boolean">
        select exists(select * from `administrator` where `administrator`.`userId`=#{adminid})
    </select>
    <select id="ifPhoneExist" resultType="boolean">
        select exists(select * from `user` where `user`.`cellphoneNumber`=#{phone})
    </select>
    <select id="ifIdentificationExist" resultType="boolean">
        select exists(select * from `user` where `user`.`identification`=#{identification})
    </select>
    <select id="selectUserAuthentication" resultType="boolean">
        select exists(select * from `user` where `user`.`id`=#{userid} and `user`.`password`=#{passwd})
    </select>
    <update id="updateUserPasswd">
        update `user` set `user`.`password`=#{passwd} where `user`.`id`=#{userid}
    </update>
    <insert id="insertUser">
        insert into `user` (`name`,`identification`,`cellphoneNumber`,`password`,`points`,`email`) values(#{name},#{identification},#{cellphone},#{passwd},0,#{email})
    </insert>
    <update id="updateEmail">
        update `user` set `user`.`email`=#{email} where `user`.`id`=#{userid}
    </update>
    <update id="updatePhone">
        update `user` set `user`.`cellphoneNumber`=#{phone} where `user`.`id`=#{userid}
    </update>
    <select id="selectPoint" resultType="int">
        select points from `user` where `user`.`id`=#{userid}
    </select>
    <select id="selectUserId" resultType="int">
        select id from `user` where `user`.`name`=#{username}
    </select>
    <select id="selectUserInfo" resultType="java.util.HashMap">
        select `name`, `cellphoneNumber`, `email` from `user` where `user`.id=#{userid}
    </select>
    <select id="selectUserResource" resultType="java.util.HashMap">
        select id as id, title as resourceName, url as resourceUrl from `resource` where `resource`.ownerId=#{userid}
    </select>


    <select id="selectUserOrder" resultType="java.util.HashMap">
        select customerId as `to`, resourceId as `resourceId`, state as state, title as resourceName, `time` as orderDate from `order` inner join resource on resource.id=`order`.resourceId where `customerId`=#{userid}
    </select>


    <update id="updateMoney">
        update `user` set `user`.`points`=`user`.`points`+#{addpoints} where `user`.`id`=#{userid}
    </update>
    <select id="selectMoney" resultType="int">
        select `user`.`points` from `user` where `user`.`id`=#{userid}
    </select>

    <select id="selectPaper" resultType="java.util.HashMap">
        select 'PAPER' as `type`,`resource`.id as id, title as resourceName, author as authorName, url as resourceUrl from `resource` inner join `paper` on `paper`.id=`resource`.id where author like concat('%',#{selectword},'%') or title like concat('%',#{selectword},'%')
    </select>
    <select id="selectPatent" resultType="java.util.HashMap">
        select 'PATENT' as `type`,`resource`.id as id, title as resourceName, NULL as authorName, url as resourceUrl from `resource` inner join `patent` on `patent`.id=`resource`.id where title like concat('%',#{selectword},'%')
    </select>
    <select id="selectProject" resultType="java.util.HashMap">
        select 'PROJECT' as `type`,`resource`.id as id, title as resourceName, NULL as authorName, url as resourceUrl from `resource` inner join `project` on `project`.id=`resource`.id where title like concat('%',#{selectword},'%')
    </select>
    <insert id="writeOrder">
        insert into `order`(`customerId`,`resourceId`,`time`,`state`) values(#{customerid},#{resourceid},#{time},#{state})
    </insert>
    <select id="ifResourceExsit" resultType="boolean">
        select exists (select * from `resource` where id=#{resourceid})
    </select>
    <select id="selectOwnerId" resultType="int">
        select `ownerId` from `resource` where id=#{resourceid}
    </select>
    <update id="updateOwner">
        update `resource` set ownerId=#{newowner} where id=#{resourceid}
    </update>
    <select id="selectResourceDetails" resultType="java.util.HashMap">
        select `downloadPrice`, `transferPrice`, `title`, `url`,`ownerId`, `purchaseQuantity`, `brief`, `author`, `issuedTime` from `resource` left join `paper` on `resource`.`id`=`paper`.`id` where `resource`.`id`=#{resourceid}
    </select>
    <insert id="insertComment">
        insert into `comment`(`content`,`time`,`resourceid`) values(#{content},#{time},#{resourceid})
    </insert>
    <select id="ifHasBought" resultType="boolean">
        select exists(select * from `order` where customerId=#{userid} and resourceId=#{resourceid})
    </select>
</mapper>