<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:component-scan base-package="SAD"></context:component-scan>
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql://eisuke.top:3306/remoteTry?useUnicode=true&amp;characterEncoding=UTF8"></property>
        <property name="user" value="sad"></property>
        <property name="password" value="ThisIsAPasswd"></property>
        <property name="testConnectionOnCheckout" value="true"></property>
        <property name="idleConnectionTestPeriod" value="30"></property>
        <property name="initialPoolSize" value="100"></property>
        <property name="maxPoolSize" value="1024"></property>
        <property name="maxIdleTime" value="60"></property>
    </bean>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <bean id="dataOperator" class="SAD.Database.DataOperation" scope="singleton">
        <property name="daoMapper" ref="dao4mybatis"></property>
    </bean>
    <bean id="transactionmanager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <bean id="sqlsessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis_config.xml"/>
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath:mybatis_mapper.xml"/>
    </bean>
    <bean id="dao4mybatis" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="SAD.Database.DAO4MyBatis"/>
        <property name="sqlSessionFactory" ref="sqlsessionFactory"/>
    </bean>
    <bean id="solrClientBuilder" class="org.apache.solr.client.solrj.impl.HttpSolrClient.Builder">
        <constructor-arg name="baseSolrUrl" value="http://hondoueisuke:ThisIsAPasswd@120.78.83.103:8983/solr/sad"/>
    </bean>
    <bean factory-bean="solrClientBuilder" factory-method="build" id="httpSolrClient" scope="prototype">
    </bean>
    <tx:annotation-driven transaction-manager="transactionmanager"/>
</beans>